.row
  .font_header_color
    .col-md-3
      %h1 twitter feed
      .jumbotron.trending_tweet_color
        - if logged_in?
          #general_trending_tweets
            = render partial: 'stock_twits', locals: {twit: @daily_tweets}

    .col-md-3
      %h1 twitter portfolio
      .jumbotron.color_mellow
        - if logged_in? && !current_user.quotes.empty?
          #user_trending_tweets
            = render partial: 'portfolio_tweets', locals: {tweets: @portfolio_tweets}

    .col-md-6
      .top_position
        %h1 stock performance
        .jumbotron.stock_performance_color
          - if logged_in?
            #user_portfolio_performance
              = render partial: 'yahoo_quotes', locals: {quote: @portfolio_quotes}

        %h1 quick info
        .jumbotron.quick_info_color
          = "Current symbol: #{@symbol}"
          = render 'quick_info'
          %p
          %p
            = link_to(image_tag('sa_icon.png', size: '30'), "http://seekingalpha.com/symbol/#{@symbol}", target: :blank )
            = link_to(image_tag('yahoo_icon.png', size: '30'), "https://finance.yahoo.com/q/pr?s=#{@symbol}+Profile", target: :blank)
            = link_to(image_tag('bb_icon.png', size: '30'), "http://www.bloomberg.com/quote/#{@symbol}:US", target: :blank)
            = link_to(image_tag('ms_icon.png', size: '30'), "http://quotes.morningstar.com/stock/mu/s?t=#{@symbol}", target: :blank)
            = link_to(image_tag('ts_icon.png', size: '30'), "http://www.thestreet.com/quote/#{@symbol}.html?omorig=header", target: :blank)
            = link_to(image_tag('gg_icon.png', size: '30'), "https://www.google.com/finance?q=NASDAQ%3A#{@symbol}&ei=sD2aVPH-D8yZqwHGyoGwCw", target: :blank)
          .well
            - @fetch_info.each do |s|
              %h6= "Company Name: #{s.name}"
              %h6= "Symbol: #{s.symbol}"
              %h6= "Last Trade Price: #{s.last_trade_price}"
              %h6= "Change and Percent Change: #{s.change_and_percent_change}"
