.font_header_color
  .col-md-3
    %h1 twitter feed
    .jumbotron.tw_feed_height.color_black
      %table.table
        = debug @daily_tweets

  .col-md-3
    %h1 twitter portfolio
    .jumbotron.color_mellow
      %table.table
        -if current_user.present?
          - @portfolio_tweets.each do |tweet|
            %tr
              %td= image_tag(tweet.user.profile_image_url, class: 'img-rounded')
              %td
                %h6= tweet.user.screen_name
                %h6= auto_link_urls(tweet.text).html_safe


  .col-md-6
    %h1 market gain/loss
    .jumbotron.color_yellow
      empty
    %h1 stock performance
    .jumbotron.color_redish
      %table.table
        %thead
          %th Company
          %th Symbol
          %th Last Trade
          %th Change $ | %
          %th EPS CY
          %th EPS NQ
          %th EPS NY
        %tbody
          - if current_user.present?
            - @portfolio_quotes.each do |t|
              %tr
                %td= t.name
                %td= t.symbol
                %td= t.last_trade_realtime_withtime.html_safe
                %td= t.change_and_percent_change
                %td= t.eps_estimate_current_year
                %td= t.eps_estimate_next_quarter
                %td= t.eps_estimate_next_year

  .col-md-6
    %h1 quick info
    .jumbotron.color_black
      empty
