.row
  .font_header_color
    .col-md-3
      %h1 twitter feed
      .jumbotron.trending_tweet_color
        - if logged_in?
          #general_trending_tweets
            = render partial: 'stock_twits', locals: {twit: @daily_tweets}

    .col-md-3
      %h1 twitter portfolio
      .jumbotron.color_mellow
        - if logged_in?
          #user_trending_tweets
            = render partial: 'portfolio_tweets', locals: {tweets: @portfolio_tweets}

    .col-md-6
      .top_position
        %h1 stock performance
        .jumbotron.stock_performance_color
          %table.table
            %thead
              %th Company
              %th Symbol
              %th Last Trade
              %th Change $ | %
              %th EPS CY
              %th EPS NQ
              %th EPS NY
            %tbody
              - if logged_in?
                - @portfolio_quotes.each do |t|
                  %tr
                    %td= t.name
                    %td= t.symbol
                    %td= t.last_trade_realtime_withtime.html_safe
                    %td= t.change_and_percent_change
                    %td= t.eps_estimate_current_year
                    %td= t.eps_estimate_next_quarter
                    %td= t.eps_estimate_next_year

        %h1 quick info
        .jumbotron.quick_info_color
          = render 'quick_info'
          %p
          %p
            = image_tag('sa_icon.png', size: '30')
            = image_tag('yahoo_icon.png', size: '30')
