.text_color
  = form_for(:user, url: signin_path) do |f|
    - if @sign_in_error
      .alert.alert-danger= @sign_in_error
    = f.email_field :email, class: 'form-control', placeholder: 'email'
    = f.password_field :password, class: 'form-control', placeholder: 'password'
    = f.submit 'Login', class: 'btn btn-default form-control'
    = link_to('Sign Up', new_user_path, class: 'btn')
