= form_for(:user, url: edit_user_path(current_user)) do |f|
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label "Change Password"
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label "confirm password"
    = f.password_field :password_confirmation, class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-default'
