.text_color
.jumbotron
  - if @user.id?
    %ol.breadcrumb
      %li= link_to('Dashboard', root_path)
      %li.active= "Edit"
  = form_for(@user, url: users_path) do |f|
    .form-group
      = f.label :email
      = f.text_field :email, class: 'form-control'
      .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
      .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control', placeholder: 'password'
      .form-group
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation'
      .form-group
      - if @user.id?
        = f.submit 'Save', class: 'btn btn-default'
      - else
        = f.submit 'Submit', class: 'btn btn-default'
