!!!
%html
  %head
    %title FinancialDashboard
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %nav.navbar-fixed-top.navbar-inverse
    .navbar-collapse.collapse
      .navbar-header
        #indices
      .navbar-right
        .navbar-form
          - if current_user
            = link_to('', root_path, class: 'glyphicon glyphicon-th')
            = link_to('', user_path(current_user), class: 'glyphicon glyphicon-user')
            = link_to('', signout_path, class: 'glyphicon glyphicon-remove-circle')
          - else
            = render 'users/form_signin'
  .navbar_padding

  %body
  = yield
  %footer
    .container
