!!!
%html
  %head
    %title FinancialDashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %nav.navbar-fixed-top
    .navbar-header
    .navbar-form.navbar-right
      - if current_user
        = link_to('Dashboard', root_path, class: 'btn')
        = link_to('Profile', user_path(current_user), class: 'btn')
        = link_to('Sign Out', signout_path, class: 'btn')
      - else
        li= link_to('Dashboard', root_path)
        li= render 'users/form_signin'
  .navbar_padding

  %body
  = yield
  %footer
    .container
      / footer stuff here
